<%- include('includes/head.ejs') %>

<%- include('includes/navbar.ejs') %>    

    <div class='container'>
        <div class='row'>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="text-center">
                    Adress Book
                </h1>
                <p class="text-center">
                    Welcome to your Adress Book
                </p>

                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger">
                            Error
                        </div>
                    </div>
                </div>

                <div class="responsive-table">
                    <table class="table table-striped">
                        <tr>
                            <td>fabio</td>
                            <td>nagamine</td>
                            <td>14991635182</td>
                            <td>fabiotakashinagamine@outlook.com</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    
<%- include('includes/footer.ejs') %>